.product-page{
    border: 1px solid gray; 
    position: relative;
}
.product-page .img-wrap{
    width: 200px;
    height: 300px;
    display: block;
}

.btn-cart{
    position: absolute;
    width: 100%;
    background-color: #EEDBCD;
    height: 50px;
    bottom: 0px;
    border: 0px;

}