.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEDBCD;
}
.logo{
    width: 120px;
    height: 80px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
nav a:hover{
    color: #185C4D;
}